<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <nav class="my-2 my-md-0 me-md-3">
        <a class="p-2 text-dark" href="home">назад</a>
    </nav>
</header>
<div class="container mt-5 mb-5">
    <form action="remove" method="post">
        <p><b>имя переменной:</b><br>
            <input type="text" name="name" size="40" maxlength="20">
        </p>
        <button type="submit" class="btn btn-success">удалить</button>
    </form>
</div>
</body>
</html>